
*  {
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #add8e6;
    min-height: 100vh;
}

.container{
    width: 100%;
    max-width: 1000px;
    background: #fff;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1)
}

.container .left-side{
  background: #003147;
    /* padding: 40px; */
}

.container .right-side{
   background: #fff;
    /* padding: 40px; */
}

.nitinimg{
    height: 220px;
    width: 270px;
}

ul li{
    line-height: 150%;
}

.smtext{
    font-size: 12px;
}

.protext{
    font-size: 13px;
}

.dtext{
    font-size: 14px;
}

.skilltext{
    font-size: 15px;
    letter-spacing: 1px;
}

blockquote{
    padding-left: 70px;
}

.progress-bar{
    margin-top: 4px;
    padding-left: 0px;
   
}


/* .skillang{
    padding-right: 40px;
} */